<html>
  <head>
    <title>RESTaurant</title>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>

    <h2>Managers Only</h2>

    <a href="/">Click here if NON-Manager</a>

    <form action="/sessions" method="post">
      <input type="text" name="username" placeholder='...username'>
      <input type="text" name="password" placeholder='...password'>
      <input type="submit" value="Log-In">
    </form>

  </body>
</html>
