<html>
  <head>
    <title>RESTaurant</title>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <!-- <<img src="http://i.imgur.com/XBOlNnC.jpg" alt="" /> -->
    <h1>
    Bisque Please! Your neighborhood bisquerie!
  </h1>
    <ul class='interface-list' id='menu-list'> Check out these bisques!
    </ul>
    <ul class='interface-list' id='party-list'>
    </ul>
    <!-- <ul class='interface-list' id='order-list'>
    </ul> -->

    <form action="/admin">
        <input type="submit" value="Admin Login">
    </form>

    <form action="/kitchen">
    <input type="submit" value="Kitchen - Order View">
    </form>


    <button id='place-order'>
    Order
  </button>
    <div>
    </div>

    

    <!-- ****** JS Libraries ****** -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

    <script src="http://timeago.yarp.com/jquery.timeago.js" type="text/javascript"></script>

    <!-- ****** Backbone Models ****** -->
    <script src='/scripts/models/FoodModel.js'></script>
    <script src='/scripts/models/PartyModel.js'></script>
    <script src='/scripts/models/OrderModel.js'></script>

    <!-- ****** Backbone Collection ****** -->
    <script src='/scripts/collections/FoodCollection.js'></script>
    <script src='/scripts/collections/PartyCollection.js'></script>
    <script src='/scripts/collections/OrderCollection.js'></script>

    <!-- ****** Backbone Views ****** -->
    <script src='/scripts/views/FoodView.js'></script>
    <script src='/scripts/views/PartyView.js'></script>
    <script src='/scripts/views/OrderView.js'></script>

    <script src='/scripts/views/GeneralListView.js'></script>

    <!-- ****** JS Application ****** -->
    <script src='/scripts/app.js'></script>

  </body>
</html>


<!-- <html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/styles/main.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <h1>Welcome to Bisque Please. Your neighborhood bisquerie.</h1>

    Real code above -->




  <!-- <h2>Party id (preferably table number)
    <ul>
      <li>Party name (i.e. last name or "table 1")
      </li>
      <li> Party number of diners
      </li>
  </h2>
  <h2>Food id
    <ul>
      <li>Food names</li>
      <li>Food prices</li>
  </h2>
  <h2>Order id
    <ul>
      <li>party_id</li>
      <li>food_id</li>
      <li>total amount</li>
      <li>paid?</li>
    </ul>
  </h2> -->




<!-- Real code below:



  <ul id=foods>
  </ul>

  <ul id=orders>
  </ul>

  <ul id=parties>

  </ul>

  </body>
</html> -->
