body {
  background-color: lightblue;
  font-family: 'calibri', sans-serif;
}
h1{
  width: 100%;
}
ul {
  font-weight: bold;
  /*float: left;*/
  background: red;

}
li {
  font-weight: normal;
}
body{
  background-color: lightblue;
}



.food-selected{
  background-color: lightgreen;
}
.party-selected{
  background-color: pink;
}

.interface-list{
  display: inline-block;
  border: 1px solid black;
}
