body {
  background-color: lightblue;
  background-image: url("http://i.imgur.com/XBOlNnC.jpg");
  font-family: 'ariel', sans-serif;
}

ul {
  font-weight: bold;
  /*float: left;*/
  background: red;

}
li {
  font-weight: normal;
}
body{
  background-color: lightblue;
}
input[type=submit] {
  color: black;
  font-size: x-large;
  border: 2px black;
}

input[type=text] {
  color: black;
  font-size: x-large;
}

.food-selected{
  background-color: lightgreen;
}
.party-selected{
  background-color: pink;
}

.interface-list{
  display: block;
  border: 1px solid black;
  float: left;
  width: 25%;
}
#auth {
  background: red;
}
#place-order {
  color: black;
  text-decoration: none;
  height: 10%;
  width: 10%;
  margin: 200px, 200px, 100px;
  font-size: x-large;
  /*display: block;*/
}


#place-order:hover {
  background-color: white;
  color: black;
  transition: 4s;
}
#total{
  font-size: x-large;
  font-weight: bold;
}
#subtotal{
  font-size: large;
  font-weight: bold;
}
